@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

// body {
//     background-color: rgb(77, 41, 0);
//     color: #5a5a5a;
//     font-family: 'Lato', sans-serif;
// }
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

.parallax-section {
    background-attachment: fixed!important;
}

.btn-capsul {
    border-radius: 30px;
}

.btn-aqua {
    background: #ff8902;
    color: #fff;
}

.btn-aqua:hover {
    background: #10629b;
    color: #fff;
}

.btn-dark-blue {
    background: #0C242E;
    color: #fff;
}

.btn-dark-blue:hover {
    background: #063d28;
    color: #fff;
}

.btn-transparent-white {
    border: 2px solid #fff;
    color: #fff;
}

.btn-transparent-white:hover,
.btn-transparent-white:focus {
    background: #fff;
    color: #0297FF
}

.relative-box {
    position: relative
}

section {
    float: left;
    width: 100%;
    padding: 80px 0;
}


/* TOP HEADER
-------------------------------------------------- */

.navbar.top-bar {
    background-color: #0e3363;
    position: fixed;
    border-radius: 0;
    // height: 5em;
    padding: 17px 0;
    z-index: 36;
}

.navbar-toggler {
    border: 2px solid #fff;
    color: #fff;
    position: absolute;
    right: 21px;
    z-index: 20;
}

.sps {
    padding: 1em .5em;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.25s ease;
    width: 100%;
}

.sps--abv {
    background-color: transparent;
    color: #000;
}

.top-bar a.navbar-brand {
    color: #fff;
    font-size: 26px;
    font-weight: 800;
    padding: 5px 0 0 10px;
    text-transform: uppercase;
}

.sps--blw.top-bar a.navbar-brand {
    color: #000;
}

.top-bar a.navbar-brand span {
    color: #FF971C;
}

.top-bar .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 18px!important;
}

.sps--blw.top-bar .nav-link {
    color: #000
}

.top-bar .navbar-nav .nav-item {
    margin: 0
}

.top-bar .nav-link:hover,
.top-bar .nav-item.active a {
    color: #fff;
    border-bottom: 2px solid #fff;
    border-radius: 0;
}

// NEXT IS MINE
#myCarousel {
    margin-top: 80px;
}

.text-yellow {
    color: #FF971C;
}