<div class="container shadow-lg d-flex justify-content-center mt-4" style="border-radius: 20px;">
    <div class="row">
            <h1 class="text-center pt-3" style="color: #0e3363">Blog Management</h1>
            <hr class="mb-3"/>
        <form class="p-4" action="" [formGroup]="blogForm">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" style="color: #0e3363"><b>Blog Title</b></label>
                <input type="tex" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title" formControlName="title">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" style="color: #0e3363"><b>Author</b></label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Author" formControlName="author">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" style="color: #0e3363"><b>Content</b></label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Content" formControlName="content">
            </div>
            <div class="row mt-4">
                <button type="submit" class="btn btn-outline-success" (click)="OnSubmit()" style="border-width: 2px;"><b>Submit</b></button>
            </div>
        </form>
    </div>
</div>
