<div class="row p-2">
    <div class="card shadow">
        <div class="tittle">
            <h1 class="fs-3 mt-3 text-center">
                --- <span class="text-brown fw-bold">Guest Book</span> List ---
            </h1>
            <hr />
        </div>
        <div class="body table-responsive">
            <table class="table table-striped table-hover table-inverse shadow">
                <thead class="thead-inverse">
                    <tr class="text-center">
                        <th>guest ID</th>
                        <th>Guest Name</th>
                        <th>Email</th>
                        <th>Message</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <ng-container *ngIf="donations.length > 0; else kosong">
                    <tbody *ngFor="let guest of donations">
                        <tr class="text-center">
                            <td scope="row">
                                <span class="text-brown">{{ guest.id | uppercase }}</span>
                            </td>
                            <td>{{ guest.donor }}</td>
                            <td>{{ guest.amount }}</td>
                            <td>{{ guest.message }}</td>

                            <!-- <ng-container *ngIf="guest.status == 'reserved'; then first; else elseTemplate"></ng-container>
                      <ng-template #first>
                          <td><span appBadges [color]="'secondary'" [model]="'rounded-pill'">{{guest.status}}</span></td>
                      </ng-template>
                      <ng-template #elseTemplate>
                          <ng-container *ngIf="guest.status == 'checked-in'; else secondElseTemplate">
                              <td><span appBadges [color]="'primary'" [model]="'rounded-pill'">{{guest.status}}</span></td>
                          </ng-container>
                          <ng-template #secondElseTemplate>
                              <td><span appBadges [color]="'danger'" [model]="'rounded-pill'">{{guest.status}}</span></td>
                          </ng-template>
                      </ng-template> -->

                            <!-- ACTION -->
                            <td>
                                <div class="row">
                                    <button class="btn btn-warning btn-sm me-1 mb-1 col-5" routerLink="/guest/{{ guest.id }}">
              <i class="fas fa-edit"></i>
            </button>
                                    <button class="btn btn-danger btn-sm ms-1 mb-1 col-5" (click)="onDelete(guest.id!)">
              <i class="fas fa-trash-alt"></i>
            </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </ng-container>
                <ng-template #kosong>
                    <tbody>
                        <tr>
                            <td colspan="8" rowspan="5" class="text-center mt-2 fs-5 fw-bold">
                                Data Kosong
                            </td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </div>
    </div>
</div>