<app-navbar></app-navbar>
<div class="container mb-4">
    <div class="row">
        <div class="col-4">
            <app-header-dashboard></app-header-dashboard>
        </div>
        <div class="col-8">
            <button class="btn btn-outline-primary w-100 my-5 shadow" (click)="showDonations()">
    SHOW DONATIONS MANAGEMENT
  </button>
            <div class="row" *ngIf="show == true">
                <div class="col-12">
                    <div class="container contentnya shadow">
                        <div class="row">
                            <div class="col-12 my-2">
                                <app-donations-form></app-donations-form>
                                <div class="row">
                                    <div class="col-6 w-100 my-3">
                                        <div class="row">
                                            <div class="col-xs-1-12">
                                                <div class="card shadow" style="border-radius: 20px;">
                                                    <div class="card-body">
                                                        <form>
                                                            <label for="" class="form-label">Search by : </label>
                                                            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                                            <small id="helpId" class="form-text text-muted">Help text</small>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <app-donations-list></app-donations-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-dashboard></app-footer-dashboard>