<div class="container">
    <div class="row my-4 justify-content-end">
        <div class="col-sm-6">
            <div>
                <h1 class=" fs-1 text-light text-uppercase textatas p-5 pt-5"><b>Roman Abrahamovic</b></h1>
                <h2 class="fs-6 owner ps-5 pb-5"><b>Owner Of Chelsea Football Club</b></h2>
            </div>
        </div>
        <div class="col-sm-6 pt-3">
            <img src="./../../../../assets/img/Roman.jpg" class="w-75 rounded-circle ">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-7 mx-2 p-4 bio">
            <h3 class="judulbio"><b>Biography</b></h3>
            <hr class="col mb-4" />
            <article>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ullam nisi mollitia
                illum voluptatum nesciunt eum quas sapiente maxime, inventore ipsa vel, magni magnam
                unde obcaecati suscipit nobis culpa minus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ullam nisi mollitia
                illum voluptatum nesciunt eum quas sapiente maxime, inventore ipsa vel, magni magnam
                unde obcaecati suscipit nobis culpa minus.
            </article>
        </div>
        <div class="col-sm-3 skills">
            <article>
                <div class="col-10 mx-1 my-3">
                    <h3 class="judulskills"><b>Skills</b></h3>
                    <hr class="col mb-4" />
                    <span class="badge bg-success fs-6 m-1">Java</span>
                    <span class="badge bg-danger fs-6 m-1">Angular</span>
                    <span class="badge bg-warning fs-6 m-1">Javascript</span>
                    <span class="badge bg-success fs-6 m-1">Spring Boot</span>
                    <span class="badge bg-dark fs-6 m-1">Kotlin</span>
                </div>
            </article>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-8 my-4">
            <div class="row exp p-4 bagianexp">
                <div class="column">
                    <h3 class="judulexp"><b>Experience</b></h3>
                    <hr class="col mb-3" />
                    <div class="row">
                        <div class="col-1">
                            <i class="bi bi-award-fill fs-1"></i>
                        </div>
                        <div class="col-11 mb-1">
                            <p class="lead mb-1">Governor</p>
                            <p class="fw-bold text-uppercase">
                                <strong class="border-end border-2 border-dark pe-3 me-3">Chukotka Province</strong>2000
                                - 2008
                            </p>
                            <ul class="list-unstyled">
                                <li><i class="bi-check"></i>Prosper the country.</li>
                                <li><i class="bi-check"></i>Design an application interface.</li>
                                <li><i class="bi-check"></i>make important policies.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1 mb-1">
                            <i class="bi bi-award-fill fs-1"></i>
                        </div>
                        <div class="col-11">
                            <p class="lead mb-1">Owner</p>
                            <p class="fw-bold text-uppercase">
                                <strong class="border-end border-2 border-dark pe-3 me-3">Chelsea Football
                                    Club</strong>2004 - Present
                            </p>
                            <ul class="list-unstyled">
                                <li><i class="bi-check"></i>Develop a club from zero to hero.</li>
                                <li><i class="bi-check"></i>Royal for the club.</li>
                                <li><i class="bi-check"></i>Make Chelsea FC become the first team in London to win the
                                    Champions League.</li>
                                <li><i class="bi-check"></i>Make the club to be feared in europe.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-10">
            <h2>Contact</h2>
            <hr class="col mt-1" />

        </div>
    </div>
</div>