.container{
    background-color: #11324D;
}

img{
    border-radius: 100px;
    width: 300px;
}

.owner{
    color: cornflowerblue;
    
}

.exp{
    border-radius: 30px;
}

.skills{
    border-radius: 30px;
    background-color: #e7e3d4;
}

.bio{
    border-radius: 30px;
    background-color: #e7e3d4;
}

.judulskills{
    color: cornflowerblue;
}

.judulbio{
    color: cornflowerblue;
}

.judulexp{
    color: cornflowerblue;
}

.bagianexp{
    background-color: #e7e3d4;
}

.footer{
    background-color: cornflowerblue;

}
