<div class="container konten p-5">
    <app-header></app-header>
    <div class="row">
        <div class="col">
            <h1 class="judul ps-3">About</h1>
        </div>
    </div>
    <div class="row">
        <hr class="my-2"/>
        <div class="row justify-content-center">
            <img src="../../../assets/img/about.jpg" class="w-75 about">
        </div>
    </div>
    <div class="row my-5">
        <p style="color: #0e3363;" class="lead fs-3"><b>Introduction</b></p>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis 
            illum provident ea hic aut quisquam. Accusamus esse adipisci doloribus 
            autem consequatur libero placeat rem voluptate, amet magni sed maiores? 
            Molestias.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis 
            illum provident ea hic aut quisquam. Accusamus esse adipisci doloribus 
            autem consequatur libero placeat rem voluptate, amet magni sed maiores? 
            Molestias.</p>
    </div>
    <div class="row">
        <p style="color: #0e3363;" class="lead fs-3"><b>Mission</b></p>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis 
            illum provident ea hic aut quisquam. Accusamus esse adipisci doloribus 
            autem consequatur libero placeat rem voluptate, amet magni sed maiores? 
            Molestias.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis 
            illum provident ea hic aut quisquam. Accusamus esse adipisci doloribus 
            autem consequatur libero placeat rem voluptate, amet magni sed maiores? 
            Molestias.</p>
    </div>
    <hr class="my-5"/>
    <div class="row">
        <p style="color: #0e3363;" class="lead fs-3"><b>Team</b></p>
        <div class="col-4">
            <p style="color: #0e3363;" class="lead fs-3">Ahsan</p>
            <img>
        </div>
        <div class="col-4">
            <p style="color: #0e3363;" class="lead fs-3">Yanuar</p>
            <img>
        </div>
        <div class="col-4">
            <p style="color: #0e3363;" class="lead fs-3">Yazri</p>
            <img>
        </div>
    </div>
</div>

<app-footer></app-footer>