.konten{
    margin-top: 110px;
    margin-bottom: 30px;
    background-color: #0e336300;
    border-radius: 10px;
}

.judul{
    color: #0e3363;
}

.about{
    height: 430px;
}

.profilePict{
    border-radius: 50px;
}