<app-header></app-header>
<div class="container shadow konten">
    <div class="row">
        <div class="col-12 text-center">
            <h1>BLOGS DETAILS</h1>
            <hr>
        </div>
        <div class="col-12 mt-2">
            <dl class="row">
                <dt class="col-sm-2">Title :</dt>
                <dd class="col-sm-9 fw-bold">{{ blog.title | uppercase}}</dd>

                <dt class="col-sm-2">Author :</dt>
                <dd class="col-sm-9 fw-bold">{{ blog.author}}</dd>
                <br><br><br>
                <dt class="col-sm-2">Content : </dt>
                <dd class="col-sm-9">
                    <p>{{ blog.content }}</p>
                </dd>
            </dl>
        </div>
    </div>
</div>
<app-footer></app-footer>