<div class="container-lg shadow-lg">
    <div class="row">
      <aside class="bg-dark col-sm-4 text-light">
        <!-- ASIDE -->
        
    <div class="row justify-content-center">
      <div class="col-sm-10 py-5">
        <img
          src="../../../../assets/img/yanuar.jpeg"
          class="img-thumbnail rounded-circle"
          alt="photo profile"
        />
        <h1 class="fs-3 text-center mt-4 fw-bold">
          Don Laviender
          <br />
          <span class="fs-5 fw-light"> Full Stack Developers </span>
        </h1>
  
        <hr class="mb-4" />
  
        <div class="col-11">
          <h2 class="fs-5 fw-normal text-start mb-4">CONTACT</h2>
          <dl class="row">
            <dt class="col-1"><i class="fas fa-phone-volume"></i></dt>
            <dd class="col-11">
              <a href="" class="text-decoration-none fw-lighter text-white">
                +62 001 000981
              </a>
            </dd>
            <dt class="col-1">
              <i class="fas fa-at"></i>
            </dt>
            <dd class="col-11">
              <a
                href=""
                class="text-decoration-none fw-lighter text-white"
              >
                laviendon@gmail.com
              </a>
            </dd>
            <dt class="col-1"><i class="fas fa-globe-americas"></i></dt>
            <dd class="col-11 fw-lighter">Jakarta, Indonesia</dd>
          </dl>
        </div>
  
        <hr class="mb-4" />
  
        <div class="col-11">
          <dl class="row">
            <h2 class="fs-5 fw-normal text-start mb-4">SKILL</h2>
            <dt class="col-10 fw-light me-auto fw-light">HTML</dt>
            <dd class="col-1 fw-bold">75%</dd>
            <dt class="col-10 fw-light me-auto fw-light">CSS</dt>
            <dd class="col-1 fw-bold">80%</dd>
            <dt class="col-10 fw-light me-auto fw-light">Javascript</dt>
            <dd class="col-1 fw-bold">70%</dd>
          </dl>
        </div>
  
        <hr class="mb-4" />
  
        <div class="col-11">
          <h2 class="fs-5 fw-normal text-start mb-4">LANGUAGE</h2>
          <div class="row justify-content-evenly mb-4">
            <span class="badge bg-secondary col-3 shadow-lg">Indonesian</span>
            <span class="badge bg-secondary col-3 shadow-lg">English</span>
            <span class="badge bg-secondary col-3 shadow-lg">Arabic</span>
          </div>
        </div>
  
        <hr class="mb-4" />
  
        <div class="col-11">
          <h2 class="fs-5 fw-normal text-start mb-4">HOBBIES</h2>
          <div class="row justify-content-evenly mb-4">
            <span class="badge bg-secondary col-3 shadow-lg">Coding</span>
            <span class="badge bg-secondary col-3 shadow-lg">Reading</span>
            <span class="badge bg-secondary col-3 shadow-lg">Watching</span>
          </div>
        </div>
  
        <hr class="mb-4" />
  
        <div class="col-11">
          <dl class="row">
            <h2 class="fs-5 fw-normal text-start mb-4">SOCIAL MEDIA</h2>
            <dt class="col-1"><i class="fab fa-github-alt"></i></dt>
            <dd class="col-11">
              <a routerLink="/contact" class="text-light text-decoration-none pw-lighter">
                dubidubidam
              </a>
            </dd>
            <dt class="col-1"><i class="fab fa-linkedin"></i></dt>
            <dd class="col-11">
              <a href="" class="text-light text-decoration-none pw-lighter">
                linkedin.com/in/damdam/
              </a>
            </dd>
            <dt class="col-1"><i class="fab fa-instagram"></i></dt>
            <dd class="col-11">
              <a href="" class="text-light text-decoration-none pw-lighter">
                @dubidubidam
              </a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  
      </aside>
      <section class="col-sm-8 p-4">
        <!-- CONTENT -->
        <!-- OBJECTIVE -->
  
  <div class="row">
    <div class="col">
      <h2 class="text-enigma text-start">OBJECTIVE</h2>
      <hr class="bg-dark mb-3" />
      <p class="mb-4" style="text-align: justify">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, sequi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, reprehenderit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, dicta!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, reiciendis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, assumenda.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, ratione.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, facere?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, maiores?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, tempore!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, corrupti?
      </p>
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>
            “A user interface is like a joke. If you have to explain it, it’s
            not that good.”
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Someone famous in <cite title="Source Title">Medium</cite>
        </figcaption>
      </figure>
    </div>
  </div>
  
  <!-- EDUCATION -->
  
  <div class="row">
    <div class="col">
      <h2 class="text-enigma text-start">EXPERIENCE</h2>
      <hr class="bg-dark mb-4" />
      <div class="row">
  
        <div class="col-1">
          <i class="bi-geo fs-1"></i>
        </div>
        <div class="col-11">
          <p class="lead mb-1 text-start">Fullstack Developer</p>
          <p class="text-start">
            <strong class="pe-2 me-2 border-dark border-2 border-end">ENIGMACAMP IT BOOTCAMP</strong>OCT 2020 - PRESENT
          </p>
          <ul class="list-unstyled">
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Design a system.</span>
            </li>
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Design an application interface.</span>
            </li>
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Develop a backend service.</span>
            </li>
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Develop a frontend service.</span>
            </li>
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Deploy and application.</span>
            </li>
          </ul>
        </div>
  
      </div>
      <div class="row">
  
        <div class="col-1">
          <i class="bi-geo fs-1"></i>
        </div>
        <div class="col-11">
          <p class="lead mb-1 text-start">Backend Developer</p>
          <p class="text-start">
            <strong class="pe-2 me-2 border-dark border-2 border-end">CONSTRUCT ENTERPRISE</strong>SEPT 2020 - OCT 2020
          </p>
          <ul class="list-unstyled">
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Develop a RESTFUL API service.</span>
            </li>
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Develop a queue system.</span>
            </li>
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Develop a maller system.</span>
            </li>
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Develop a notification system.</span>
            </li>
          </ul>
        </div>
  
      </div>
      <div class="row">
  
        <div class="col-1">
          <i class="bi-geo fs-1"></i>
        </div>
        <div class="col-11">
          <p class="lead mb-1 text-start">Frontend Developer</p>
          <p class="text-start">
            <strong class="pe-2 me-2 border-dark border-2 border-end">DIGITAL DISPLAY</strong>DEC 2019 - SEPT 2020
          </p>
          <ul class="list-unstyled">
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Develop a backoffice web application.</span>
            </li>
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Develop a protal web application.</span>
            </li>
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Develop a company profile web application.</span>
            </li>
            <li class="bi-check fs-6 text-dark">
              <span class="ms-1">Develop a single page application.</span>
            </li>
          </ul>
        
        
        
        
        
        </div>
      </div>
    </div>
  </div>
  
  <!-- EXPERIENCE -->
  
  <div class="row">
    <div class="col">
      <h2 class="text-enigma text-start mt-3">EDUCATION</h2>
      <hr class="bg-dark" />
    </div>
    <h3 class="text-start lead fs-5 fw-normal">Bachelor Degree - Informatical Technology</h3>
    <p class="text-start">
      <strong class="pe-2 me-2 border-dark border-2 border-end">DALAS UNIVERSITY</strong>JULY 2017 -
      SEPT 2021
    </p>
    <h3 class="text-start lead fs-5 fw-normal mt-3">Science</h3>
    <p class="text-start">
      <strong class="text-start pe-2 me-2 border-dark border-2 border-end">SUZURAN HIGH SCHOOL</strong>JULY 2014 - JULY 2017
    </p>
  </div>
  
  <div>
    <div class="d-flex align-items-center justify-content-center">
      <div class="btn btn-warning shadow w-25 mt-5" id="connect">
        LETS CONNECT !
      </div>
    </div>
  </div>
      </section>
    </div>
  </div>