<div class="container">
    <app-header></app-header>
    <div class="konten shadow-lg">
        <div class="row justify-content-around py-5 px-4">
            <div class="col-sm-8 cv card shadow p-3">
                <h1 class="judul">Our Resume</h1>
                <hr class="my-2" />
                <p class="lead fs-5" style="color: #0e3363">Hey Guys ...</p>
                <p class="lead" style="color: #0e3363">
                    We are from <b>Samleke Team</b>. You can see our Resume below
                </p>
                <p class="lead" style="color: #0e3363"></p>
                <div class="dropdown">
                    <button class="btn dropdown-toggle text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #ff971c;">
                        <b>Click Here</b>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li>
                            <a class="dropdown-item" (click)="angka = 1"><b>Ahsan</b></a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="angka = 2"><b>Yanuar</b></a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="angka = 3"><b>Yazri</b></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 donate card shadow p-3">
                <h1 class="lead fs-2" style="color: #0e3363"><b>Donation</b></h1>
                <hr class="my-1" />
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead style="color: #0e3363">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td style="color: #ff971c"><b>100.000</b></td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td style="color: #ff971c"><b>25.000</b></td>
                            </tr>
                            <tr>
                                <td>Mark</td>
                                <td style="color: #ff971c"><b>7.000</b></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn mb-4 text-white" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" style="background-color: #ff971c;">
                          <i class="fas fa-coffee"></i><b> &nbsp;   Buy us some coffee &nbsp;   :)</b>
                      </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Donate Form</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form [formGroup]="donateForm" (ngSubmit)="onSubmit()">
                                <div class="modal-body">
                                    <div class="mb-3 has-validation">
                                        <label for="recipient-name" class="col-form-label">Donor:</label>
                                        <input type="text" class="form-control {{ isFieldValid('donor') }}" id="recipient-name" formControlName="donor">
                                        <div class="invalid-feedback" validation-message [control]="donateForm.controls['donor']" [label]="'Donor'">
                                        </div>
                                    </div>
                                    <div class="mb-3 has-validation">
                                        <label for="recipient-name" class="col-form-label">Amount:</label>
                                        <input type="text" class="form-control {{ isFieldValid('amount') }}" id="recipient-name" formControlName="amount">
                                        <div class="invalid-feedback" validation-message [control]="donateForm.controls['amoun']" [label]="'Donor'">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="col-form-label">Message:</label>
                                        <textarea class="form-control" id="message-text" formControlName="message"></textarea>
                                    </div>
                                    <div class="mb-3 justify-content-center">
                                        <div class="form-check my-2">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                                            <label class="form-check-label" for="flexRadioDefault1">
                                          <span class="badge rounded-pill transfer-bank">Transfer Bank</span>
                                      </label>
                                        </div>
                                        <div class="form-check my-2">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
                                            <label class="form-check-label" for="flexRadioDefault2">
                                          <span class="badge rounded-pill ovo">OVO</span>
                                      </label>
                                        </div>
                                        <div class="form-check my-2">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
                                            <label class="form-check-label" for="flexRadioDefault3">
                                          <span class="badge rounded-pill gopay">Gopay</span>
                                      </label>
                                        </div>
                                        <div class="form-check my-2">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" />
                                            <label class="form-check-label" for="flexRadioDefault4">
                                        <span class="badge rounded-pill link-aja">Link Aja</span>
                                    </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Send message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <ng-container *ngIf="angka == 1; then satu; else kedua"></ng-container>
                <ng-template #satu>
                    <div class="container p-5">
                        <app-resume-ahsan></app-resume-ahsan>
                    </div>
                </ng-template>
                <ng-template #kedua>
                    <ng-container *ngIf="angka == 2; else ketiga">
                        <div class="container p-5">
                            <app-resume-yanuar></app-resume-yanuar>
                        </div>
                    </ng-container>
                    <ng-template #ketiga>
                        <ng-container *ngIf="angka == 3; else kosong">
                            <div class="container p-5">
                                <app-resume-yazri></app-resume-yazri>
                            </div>
                        </ng-container>
                        <ng-template #kosong> </ng-template>
                    </ng-template>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>