.konten {
    margin-top: 110px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #0e33632d;
}

.cv{
    border-radius: 10px;

}

.donate {
    border-radius: 10px;

}

.tombol-resume{
    background-color: #FF971C;
    color: white;
}

.judul{
    color: #0e3363;
}