<app-header></app-header>
<div class="container konten shadow p-2" style=" border-radius: 20px;">
    <div class="row">
        <div class="col-8">
            <div class="p-5 bg-white">
                <div class="container">
                    <h1 class="display-3">Jumbo heading</h1>
                    <p class="lead">Jumbo helper text</p>
                    <hr class="my-2">
                    <p>More info</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-white bg-secondary">
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>

                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>