<header class="p-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none" style="color: #FF971C;">
                <i class="fas fa-dragon fs-2 me-4"></i>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="ps-4 pe-5"><a [routerLink]="['/dashboard/blog']" routerLinkActive="router-link-active" class="nav-link px-2 me-2 link-dark fs-4" style="color: #0e3363;"><b>Blog</b></a></li>
                <li class="pe-5"><a [routerLink]="['/dashboard/guest']" routerLinkActive="router-link-active" class="nav-link px-2 me-2 link-dark fs-4" style="color: #0e3363;"><b>Guest Book</b></a></li>
                <li class="pe-5"><a [routerLink]="['/dashboard/donate']" routerLinkActive="router-link-active" class="nav-link px-2 me-2 link-dark fs-4" style="color: #0e3363;"><b>Donations</b></a></li>
            </ul>


            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" routerLink="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>