<div class="container-xl shadow-lg mt-5 konten">
    <div class="row">
        <div class="col-12 bg-name">
            <div class="row">
                <div class="col-6 p-5">
                    <img src="../../../../assets/img/augus.jpg" class="img-thumbnail rounded-circle gambar" alt="" />
                </div>
                <div class="col-6 text-white nametag">
                    <h1>Augus Mikazuki <i class="bi-person-fill"></i></h1>
                    <h4 class="pilot">PILOT</h4>
                    <hr />
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus nam qui impedit magnam ex voluptas beatae nemo ducimus quam nisi, laudantium, porro neque delectus modi ullam assumenda architecto obcaecati molestias.
                    </p>
                </div>
                <hr class="bg-white p-1" />
            </div>
        </div>
    </div>
    <div class="row">
        <section class="col-8">
            <div class="row justify-content-center p-3">
                <div class="col marginan bg-white text-primary">
                    <h2 class="fs-3 text-uppercase mt-4">Description</h2>
                    <hr class="col mb-2" />
                    <p class="text-black">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum fringilla lacus. Morbi aliquam elit in consequat maximus. Nullam pharetra vestibulum aliquet. Nam eget est quis mauris feugiat rhoncus. Etiam ut lectus bibendum, porttitor tortor
                        eget, accumsan risus. Aenean nec elementum mauris, eget faucibus arcu. Pellentesque rhoncus elementum elit, eget rutrum risus faucibus ut. Nam maximus, libero et pulvinar consequat, massa felis ullamcorper mauris, sit amet vestibulum
                        lacus mauris ut lectus. Duis molestie magna a tincidunt fermentum. Suspendisse sagittis, ligula nec vulputate tincidunt, felis diam consectetur ligula, quis rutrum ante risus bibendum lorem. Suspendisse vel efficitur nunc. Nulla
                        pulvinar elit a sapien imperdiet, quis pretium diam vulputate. Sed a convallis libero. Quisque vel scelerisque erat.
                    </p>
                    <div class="row">
                        <div class="col">
                            <h2 class="fs-3 text-uppercase">
                                <i class="bi-triangle-fill"></i> EXPERIENCE
                            </h2>
                            <hr class="col mb-4" />
                            <div class="row text-black">
                                <div class="col-1"><i class="bi-laptop-fill fs-1"></i></div>
                                <div class="col-5">
                                    <p class="lead mb-1">Battle With Bael</p>
                                    <p class="text-uppercase">
                                        <strong class="pe-3 me-3">Space</strong>
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo numquam dolorum quis quibusdam facilis, sequi quisquam, nam obcaecati distinctio maiores ipsum asperiores explicabo, officia laborum nobis cupiditate cumque nihil dolore.
                                    </p>
                                </div>
                            </div>
                            <div class="row text-black">
                                <div class="col-1"><i class="bi-laptop-fill fs-1"></i></div>
                                <div class="col-5">
                                    <p class="lead mb-1">Battle With Unicorn</p>
                                    <p class="text-uppercase">
                                        <strong class="pe-3 me-3">Other Universe</strong>
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo numquam dolorum quis quibusdam facilis, sequi quisquam, nam obcaecati distinctio maiores ipsum asperiores explicabo, officia laborum nobis cupiditate cumque nihil dolore.
                                    </p>
                                </div>
                            </div>
                            <div class="row text-black">
                                <div class="col-1"><i class="bi-laptop-fill fs-1"></i></div>
                                <div class="col-5">
                                    <p class="lead mb-1">Battle With 00 Qan [T]</p>
                                    <p class="text-uppercase">
                                        <strong class="pe-3 me-3">Seed Universe</strong>
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo numquam dolorum quis quibusdam facilis, sequi quisquam, nam obcaecati distinctio maiores ipsum asperiores explicabo, officia laborum nobis cupiditate cumque nihil dolore.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <aside class="col-4">
            <div class="row">
                <div class="col-12">
                    <img src="../../../../assets/img/ASW-G-08_Gundam_Barbatos_Lupus_Rex_(Front).png" class="img-thumbnail waypoint" alt="" />
                    <h2 class="text-center mb-4 mt-2">REX LUPUS GUNDAM</h2>
                </div>
            </div>
        </aside>
    </div>

    <div class="row ms-5 p-3">
        <div class="col-7 bg-white text-primary text-center">
            <h2 class="fs-3 text-uppercase mt-4">Skill</h2>
            <hr class="col mb-2" />
            <div class="row">
                <div class="col-4">
                    <h6>Heavy Arm</h6>
                    <hr />
                    <img src="../../../../assets/img/images.jpeg" alt="" class="w-100 h-75" />
                </div>
                <div class="col-4">
                    <h6>Blade Tail</h6>
                    <hr />
                    <img src="../../../../assets/img/4525143.jpg" alt="" class="w-100 h-75" />
                </div>
                <div class="col-4">
                    <h6>Long Weapon</h6>
                    <hr />
                    <img src="../../../../assets/img/4620695217d148ca0c5a22ec56372b19.jpg" class="w-100 h-75" alt="" />
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4 bg-white text-primary">
            <h2 class="fs-3 text-uppercase mt-4">Education</h2>
            <hr class="col mb-2" />
            <div class="row">
                <div class="col text-black">
                    <h3 class="fs-5">G1 - Technology and Infantry</h3>
                    <p>
                        <strong class="border-end border-2 pe-3 me-3 border-dark">Liyue University</strong
                >
                2015 - 2021
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-black">
              <h3 class="fs-5">Magister Writer</h3>
              <p>
                <strong class="border-end border-2 pe-3 me-3 border-dark"
                  >Arckham Highschool</strong
                >
                2006 - 2015
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-black">
              <h3 class="fs-5">Veteran Player</h3>
              <p>
                <strong class="border-end border-2 pe-3 me-3 border-dark"
                  >Genesis Organization</strong
                >
                2000 - 2006
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row ms-5 p-3">
        <div class="col-4 bg-white text-primary">
          <h2 class="fs-5 mb-2 text-center">CONTACT</h2>
          <hr>
          <dl class="row text-black">
            <dt class="col-1"><i class="bi-telephone"></i></dt>
            <dd
              class="col-11"
              href="tel:62 098231821312"
              class="text-decoration-none"
            >
              +62 098231821312
            </dd>
            <dt class="col-1"><i class="bi-at"></i></dt>
            <dd
              class="col-11"
              href="mailto:"
              class="text-decoration-none"
            >
              rawon@sate.com
            </dd>
            <dt class="col-1"><i class="bi-geo-alt-fill"></i></dt>
            <dd class="col-11" class="text-decoration-none">
              Nomaden
            </dd>
          </dl>
        </div>
        <div class="col-4 bg-white text-primary">
            <h2 class="fs-5 mb-2 text-center">HOBBIES</h2>
            <hr>
            <dt class="col-4 badge bg-secondary m-1">Football</dt>
            <dt class="col-3 badge bg-secondary m-1">War</dt>
            <dt class="col-4 badge bg-secondary m-1">Chess</dt>
        </div>
        <div class="col-4 bg-white text-primary">
            <h2 class="fs-5 mb-2 text-center">LANGUAGE</h2>
            <hr>
            <dl class="row text-black fw-bold">
                <dd
                  class="col-11"
                  href="tel:62 098231821312"
                  class="text-decoration-none"
                >
                  - JAPANESE
                </dd>
                <dd
                  class="col-11"
                  href="mailto:"
                  class="text-decoration-none"
                >
                  - ENGLISH
                </dd>
                <dd class="col-11" class="text-decoration-none">
                  - MOTHER LANGUAGE
                </dd>
              </dl>
        </div>
        </div>
      </div>

    <footer>
      <section class="text-center"><b>GUNDAM BLOOD ORPHAN</b></section>
    </footer>